*, *:after, *:before { 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}

body {
	text-align: center;
	padding: 0.1% 1%;
	background: #989898;
}

.title {
	margin: 0;
	padding: 20px;
	text-align: center;
	font-family: Microsoft YaHei;
}

.title > h1 {
	font-size: 2em;
	line-height: 1;
	margin: 0;
	text-shadow: 4px 4px 4px #aaa;
}

#body {
	margin: 20px 5%;
	width: 90%;
	text-align: center;
	border: solid 3px #989898;
	box-shadow: 0 0 20px #c0c0c0;
	background: #e0e0e0;
}

.content-pic:before, .content-pic:after{
	content: " ";
	display: block;
	visibility: hidden;
	clear: both;
	line-height: 0;
	font-size: 0;
}

.content-pic:after {
	clear: both;
}

.pic-col {
	width: 23.2%;
	padding: 0;
	margin: 0 10px;
	float: left;
}

.pic-item {
	position: relative;
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: solid 5px white;
}

.pic-item a {
	z-index: 10;
	cursor: pointer;
}

.pic-item img {
	width: 100%;

}

.pic-item .img-ul1 {
	-webkit-mask-image: -webkit-gradient(lieaner, left top, left bottom, from(rgba(0,0,0,1), to(rgba(0,0,0,0))));	
}

.pic-item .img-ul2 {
	-webkit-mask-image: -webkit-gradient(lieaner, left top, left bottom, from(rgba(0,0,0,1), to(rgba(0,0,0,0))));	
	-webkit-border-radius: 10px;
}

.pic-item .img-ul3 {
	-webkit-mask-image: -webkit-gradient(lieaner, left top, left bottom, from(rgba(0,0,0,1), to(rgba(1,0,1,0))));
}

.pic-item .info {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 20;
	width: 100%;
	opacity: 0.7;
	background: black;
	display: none;
}

.pic-item .info p {
	color: white;
	text-align: left;
}

.pic-item:hover .info {
	display: block;
}

#footer {
	width: 80%;
	margin-bottom: auto;
	margin-top: 10px;
	text-align: center;
}